@model CambiarPasswordViewModel // hacemos uso del registro

@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager;

@{
    ViewData["Tittle"] = "Editar Contraseña";
    Layout = "~/Views/Shared/_Layout.cshtml"; // hereda del layout principal
}

<div class="card">
    <div class="card-body">
        <h3 class="card-title text-center">Cambiar contraseña</h3>
        <form asp-controller="Usuarios" asp-action="CambiarPassword" method="post">

            <input type="hidden" name="email" value="@UserManager.GetUserName(User)" />

            <div class="text-danger" asp-validation-summary="All"></div>

            <div class="row mt-4">

                <div class="col-sm-6 offset-3">

                    <div class="mb-3">
                        <label asp-for="Password" class="col-md-2"></label>
                        <input asp-for="Password" class="form-control" placeholder="Ingresa tu contraseña" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="col-md-4"></label>
                        <input asp-for="ConfirmPassword" class="form-control" placeholder="Ingresa la cofirmacion de contraseña" />
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-sm-10 offset-2">
                    <button type="submit" class="btn btn-danger w-75 btn-lg">Cambiar Contraseña<i class="bi bi-arrow-right-circle-fill"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- Aca vamos a invocar a un script que invoca query para hacer validaciones del lado del cliente-->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}